<!--portfolio-->
	<div class="portfolio" id="gallery">		
		<div class="container">
			<h3 class="title">Snapshot <span>Photo Gallery</span></h3>
			<div class="portfolio-grids">				
				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="assets/images/img2.jpg" data-lightbox="example-set" data-title="">
						<img src="assets/images/img2.jpg" class="img-responsive" alt=""/>
						<div class="mask">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit cillum dolore fugiat.</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="assets/images/img3.jpg" data-lightbox="example-set" data-title="">
						<img src="assets/images/img3.jpg" class="img-responsive" alt=""/>
						<div class="mask">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit cillum dolore fugiat.</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="assets/images/img4.jpg" data-lightbox="example-set" data-title="">
						<img src="assets/images/img4.jpg" class="img-responsive" alt=""/>
						<div class="mask">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit cillum dolore fugiat.</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="assets/images/img5.jpg" data-lightbox="example-set" data-title="">
						<img src="assets/images/img5.jpg" class="img-responsive" alt=""/>
						<div class="mask">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit cillum dolore fugiat.</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="assets/images/img6.jpg" data-lightbox="example-set" data-title="">
						<img src="assets/images/img6.jpg" class="img-responsive" alt=""/>
						<div class="mask">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit cillum dolore fugiat.</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="assets/images/img7.jpg" data-lightbox="example-set" data-title="">
						<img src="assets/images/img7.jpg" class="img-responsive" alt=""/>
						<div class="mask">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit cillum dolore fugiat.</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="assets/images/img4.jpg" data-lightbox="example-set" data-title="">
						<img src="assets/images/img4.jpg" class="img-responsive" alt=""/>
						<div class="mask">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit cillum dolore fugiat.</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="assets/images/img1.jpg" data-lightbox="example-set" data-title="">
						<img src="assets/images/img1.jpg" class="img-responsive" alt=""/>
						<div class="mask">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit cillum dolore fugiat.</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="assets/images/img5.jpg" data-lightbox="example-set" data-title="">
						<img src="assets/images/img5.jpg" class="img-responsive" alt=""/>
						<div class="mask">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit cillum dolore fugiat.</p>
						</div>
					</a>
				</div>
				<div class="clearfix"> </div>	
				<script src="assets/js/lightbox-plus-jquery.min.js"> </script>
			</div>				
		</div>
	</div>	
	<!--//portfolio-->