	<div class="services" id="services">
		<div class="container">
			<h3 class="title">Special Offered <span>Services</span></h3>
			<div class="row work-row">
				<div class="col-sm-6 col-md-4 work-row-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
					<div class="work-grids-img">
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					</div>	
					<div class="caption work-captn">
						<h4>labore et dolore magna</h4>
						<p>Vero eos et accusamus et iusto odio dignissimos ducimus</p>						
					 </div>
				</div>
				<div class="col-sm-6 col-md-4 work-row-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
					<div class="work-grids-img">
						<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
					</div>	
					<div class="caption work-captn">
						<h4>dignissimos ducimus</h4>
						<p>Vero eos et accusamus et iusto odio dignissimos ducimus</p>						
					 </div>
				</div>
				<div class="col-sm-6 col-md-4 work-row-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
					<div class="work-grids-img">
						<span class="glyphicon glyphicon-print" aria-hidden="true"></span>
					</div>	
					<div class="caption work-captn">
						<h4>accusamus et iusto</h4>
						<p>Vero eos et accusamus et iusto odio dignissimos ducimus</p>						
					 </div>
				</div>
				<div class="col-sm-6 col-md-4 work-row-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
					<div class="work-grids-img">
						<span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
					</div>	
					<div class="caption work-captn">
						<h4>quo voluptas nulla</h4>
						<p>odioero eos et accusamus et iusto dignissimos ducimus</p>						
					 </div>
				</div>
				<div class="col-sm-6 col-md-4 work-row-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
					<div class="work-grids-img">
						<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
					</div>	
					<div class="caption work-captn">
						<h4>occaecat cupidatat non</h4>
						<p>odioero eos et accusamus et iusto dignissimos ducimus</p>						
					 </div>
				</div>
				<div class="col-sm-6 col-md-4 work-row-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
					<div class="work-grids-img">
						<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
					</div>	
					<div class="caption work-captn">
						<h4>fugiat nulla pariatur</h4>
						<p>odioero eos et accusamus et iusto dignissimos ducimus</p>						
					 </div>
				</div>
				<div class="clearfix"> </div>
			</div>		
		</div>
	</div>