<!--testimonials-->
	<div class="testimonials">
		<div class="container">
			<h3 class="title">Snapshot <span>Testimonials</span></h3>
			<div class="sap_tabs">	
				<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
					<ul class="resp-tabs-list">
						<li class="resp-tab-item"><span><img src="assets/images/img12.jpg" alt=""/></span></li>
						<li class="resp-tab-item"><span><img src="assets/images/img13.jpg" alt=""/></span></li>
						<li class="resp-tab-item"><span><img src="assets/images/img14.jpg" alt=""/></span></li>				
					</ul>
					<div class="clearfix"> </div>
					<div class="resp-tabs-container">
						<div class="tab-1 resp-tab-content">				
							<div class="view1 view-first">
								<h5>FILAN FISTEKU</h5>
								<p>Donec libero dui, scelerisque ac augue id, tristique ullamcorper elit. Nam ultrices, lacus vitae adipiscing aliquet, metus ipsum imperdiet libero, vitae dignissim sapien diam ac nibh convallis.</p>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="view1 view-first">
								<h5>ULLAMCORPER FILAN </h5>
								<p>Scelerisque ac augue id Donec libero dui, , tristique ullamcorper elit. Nam ultrices, lacus vitae adipiscing aliquet, metus ipsum imperdiet libero, vitae dignissim sapien diam ac nibh convallis.</p>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="view1 view-first">
								<h5>SCELERISQUE AUGUE</h5>
								<p>Nam ultrices lacus vitae adipiscing aliquet, metus ipsum imperdiet libero, vitae dignissim sapientristique Donec libero dui, scelerisque ac augue id,  ullamcorper elit,diam ac nibh convallis.</p>
							</div>
						</div>
					</div>	
				</div>	
			</div>		  
		</div>
			
	</div>
	<!--//testimonials-->