	
 <app-banner></app-banner>
 
	<app-welcome></app-welcome>
<!---728x90--->
	<app-team></app-team>
	
	<app-specialisation></app-specialisation>
	
	<app-homeservice></app-homeservice>
	
	<app-gall></app-gall>
	
	<app-testimonial></app-testimonial>	
	
	<app-addressform></app-addressform>
	
	<!--footer-->
	<div class="footer wow fadeInRight animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
		<div class="container">
			<p>Copyright © 2016 Collective. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
		</div>
	</div>
	<!--//footer-->